{
  "root": true,
  "ignorePatterns": [
    "**/dist",
    "**/node_modules",
    "**/docs",
    "coverage",
    "docker",
    "swagger.json",
    ".yarn",
    "dist",
    "docs"
  ],
  "extends": [
    "@xylabs", "plugin:deprecation/recommended"
  ],
  "rules": {
    "import/no-internal-modules": [
      "warn", {
        "allow": [

        ]
      }
    ]
  }
}
