name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*" # publish when you push a semver tag like v1.2.3

concurrency:
  group: npm-publish-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write # optional (for npm provenance if you enable it)

    steps:
      - name: Setup Node + npm auth
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Upgrade npm for Trusted Publishing
        run: npm i -g npm@^11

      - name: Checkout
        uses: actions/checkout@v4

      - name: Version
        run: node -v && npm -v

      - name: Enable Corepack (Yarn)
        run: corepack enable

      - name: Install deps
        run: yarn install --immutable

      - name: Build
        run: yarn build
        env:
          CI: "true"

      - name: Publish (npm publish per workspace)
        run: |
          unset NODE_AUTH_TOKEN NPM_TOKEN || true
          yarn workspaces foreach -A -t --topological --no-private exec npm publish --access public
